
{% extends "ConvertDeviseBundle::layout.html.twig" %}

{% block deviselayout %}
<div class="">
    <div class="panel bg-warning">
       <span class="glyphicon glyphicon-signal"></span> 
    </div>
    <div class="blacklist">Vous avez atteind le nombre maximale de demande veillez revenir dans quelques minutes</div>
</div>         

  
{% endblock %}
